* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  /* Background */
  --background-primary: #f4f5fb;
  --background-secondary: #ffffff;

  /* Color */
  --color-brand: #ca3884;
  --color-brand-hover: #a52c6b;
  --color-danger: #c93847;

  /* Content */
  --content-primary: #080b12;
  --content-secondary: #374151;
  --content-tertiary: #9ca3af;
  --always-white: #ffffff;

  /* Border */
  --border-primary: #d1d5db;
  --border-hover: #b9c2d0;
}

bodY {
  background-color: var(--background-primary);
  color: var(--content-primary);
  min-height: 100vh;
  padding: 0 16px 32px 16px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

main {
  max-width: 627px;
  margin: 0 auto;

  & #back-link {
    text-decoration: none;
    color: var(--color-brand);
  }

  & h1 {
    margin: 1rem 0;
  }

  & form {
    width: 100%;
    display: flex;
    gap: 1rem;

    & input {
      background-color: var(--background-secondary);
      border: 2px solid var(--border-primary);
      border-radius: 12px;
      padding: 11px;
      width: 100%;
      line-height: 140%;
      font-size: 16px;
      align-self: flex-start;

      &:hover {
        outline: none;
        border-color: var(--border-hover);
      }

      &:focus {
        outline: none;
        border-color: var(--color-brand);
        font-weight: bold;
      }
    }

    & button {
      background-color: var(--color-brand);
      border-radius: 12px;
      padding: 12px 24px;
      color: var(--always-white);
      border: none;
      font-weight: 600;
      font-size: 16px;
      width: 35%;
      cursor: pointer;

      &:hover {
        background-color: var(--color-brand-hover);
      }
    }
  }

  & li {
    list-style: none;
    background-color: var(--background-secondary);
    border-radius: 12px;
    padding: 16px;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .item-checkbox {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;

      & input[type='checkbox'] {
        appearance: none;
        position: relative;
      }

      & input[type='checkbox']::after {
        content: '';
        width: 16px;
        height: 16px;
        background-color: var(--background-secondary);
        border: 1px solid var(--border-primary);
        border-radius: 6px;
        display: flex;
      }

      & input[type='checkbox']:hover::after {
        border-color: var(--border-hover);
      }

      & input[type='checkbox']:checked::after {
        background-color: var(--color-brand);
        border: 1px solid transparent;
        background-image: url('../assets/check.svg');
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}
